<html>
     <head>
      
     </head>
    <h1>Thankyou Form Creating Account on ASAP , Please click on the Link sent to your Email Adderess to verify Your Email Address </h1>
    <h2> If your Email is verified Click on the below link to Login <a href="/login">Login</a></h2>
</html>